body {
 font: 14px 'arial', sans-serif;
 background: url(https://raw.githubusercontent.com/DeclanBernardin/DeclanBernardin.github.io/master/simple-old-paper-1-transparent.jpg);
 }

#picture {
 float: right;
 image-size: 40px 40px;
 }

#container {
width: 800px;
 margin: 40px auto 40px auto;
}

h1 {
 font-size: 20px;
}

#info {
 font-size: 15px;
 font-weight: bold;
}

#about {
 font-size: 18px;
 font-style: italic;
}

#education {
 font-size: 17px;
}

#main {
 font-size: 17px;
}

h4 {
margin-top: 3px;
margin-bottom: 3px;
}
