body{
 font: 'arial black', sans-serif;
 background: url(https://raw.githubusercontent.com/DeclanBernardin/DeclanBernardin.github.io/master/old%20paper2.jpg);
 
}
#container{
width: 800px;
 margin: 40px auto 40px auto;
}

h1 {

}

